.about-container {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    width: 100%;
    max-width: 1400px;
    color: #fff;
    margin: 0 auto;
    padding: 120px 20px 30px;
    text-align: center;
    background: linear-gradient(to right, #1f242d, #1f242d);
    line-height: 2.5;
    transition: all 0.5s ease-in-out;
}

.about-container h1 {
    font-size: 40px;
    margin-bottom: 18px;
    transition: font-size 0.5s ease;
    position: relative;
}

.about-container p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #00ff99;
    transition: all 0.5s ease;
    align-items:baseline;
}

.hire {
    display: inline-block;
    list-style: none;
    height: 60px;
    width: 200px;
    padding: 5px 20px;
    background: transparent;
    color: #fff;
    border: 2px solid #77ff00;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5 px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transform: translateY(0);
    text-decoration: none;
}

.hire:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00ffa2;
    transition: all 0.5s ease;
    z-index: -1;
}

.hire:hover {
    color: #fff;
    box-shadow: 0 0 20px #00ffa2;
    transform: translateY(-3px);
}

.hire:hover:before {
    width: 100%;
}

.hire:active {
    transform: scale(0.95) translateY(-3px);
}

@media screen and (max-width: 1024px) {
    .about-container {
        padding-top: 100px;
        margin: 0 auto;
        transform: translateY(0); /* Added transform for smooth entrance */
    }
}

@media screen and (max-width: 968px) {
    .about-container {
        padding-top: 120px;
        width: 100%;
        margin: 0 auto;
        transform: translateY(0);
    }
}

@media screen and (max-width: 576px) {
    .about-container {
        padding-top: 100px;
        width: 100%;
        margin: 0;
        transform: translateY(0);
    }
    
    .about-container h1 {
        font-size: 32px;
    }
}